@import '../../style/variables.scss';

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px;
    border: 4px solid $main-color;
    position: relative;

    &__title {
        background: #E5E5E5;
        position: absolute;
        top: 0px;
        padding: 0 10px;
        transform: translateY(-60%);
        font-weight: bold;
        text-transform: uppercase;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        & > * {
            margin-top: 10px;
        }

        margin-bottom: 20px;
    }



}