.tabs {
    margin-top: 50px;
    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .active {
            transform: scale(1.2);
        }
    }

    &__content {
        margin-top: 40px;
    }
}

@media (max-width: 576px) {
    .tabs {
        &__nav {
            flex-wrap: wrap;
        }

        .tab {
            &__nav {
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
    }
}