@import '../../style/variables';

.footer {
    min-height: 255px;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    margin-top: 100px;

    a {
        padding-left: 10px;
        &:first-child {
            padding-left: 0;
        }
    }

    &__social {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin: 0 auto;

        a svg {
            fill: #fff;
            width: 35px;
            transition: all .5s;
            path {
                fill: #ffffff;
            }
            &.odnoklassniki {
                height: 35px;
                path {
                    fill: none;
                    stroke: #FFFFFF;
                }
            }
        }

        a:hover {
            transform: scale(1.1);
        }
    }

    &__descr {
        margin-top: 30px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__creater {
        margin-top: 10px;
        padding-bottom: 10px;
        color: rgba(255,255,255,.7);
    }
}


@media (max-width: 1200px) {
    .footer {
        &__social {
            width: 50%;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__social {
           padding-top: 40px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__social {
            width: 80%;
        }
    }
}

@media (max-width: 576px) {
    .footer {

        &__social {
            width: 90%;
            padding-top: 30px;
        }
    }
}